@(products: List[Product])
@main("Products catalogue") {  
	<h2>All products</h2>
	
	<script>
	function del(urlToDelete) {
		$.ajax ( {
			url : urlToDelete,
			type : 'DELETE',
			success : function ( results ) {
				// Refresh the page
				location.reload ( ) ;
			}
		} ) ;
	}
	</script>
  
	<table class="table table-striped">
    <thead>
      <tr>
        <th>EAN</th>
        <th>Name</th>
        <th>Description</th>
		<th> </th>
      </tr>
    </thead>
    <tbody>
    @for(product <- products) {
      <tr>
        <td><a href="@routes.Products.details(product)">@product.ean</a></td>
        <td><a href="@routes.Products.details(product)">@product.name</a></td>
        <td><a href="@routes.Products.details(product)">@product.description</a></td>
		<td><a onclick="del('@routes.Products.delete(product.ean)')">
                 <span class="glyphicon glyphicon-trash"></span>
            </a></td>
      </tr>
      }
    </tbody>
   </table>
   <a href="@routes.Products.newProduct()" class="btn btn-primary">New product</a>
}